@media (min-width: 481px) {
  .content-top{

  &__text{
    font-size: 21px;
    line-height: 32px;
  }}
  .description-app {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 42px;
      text-align: center;
      padding: 140px 0 50px 0;
    }

    &__img {
      height: 519px;
      position: relative;
      right: -11px;
      margin-top: 28px;
    }

    &__img-style {
      min-height: 519px;
      position: absolute;
      right: 0;
      max-width: 100%;

    }

  }
  .item-description {
    padding-bottom: 60px;

    &__icon {
      float: left;
      width: 120px;
      margin-right: 25px;
    }

  }
  .text-wrapper {
    text-align: left;

    &__title {
      padding-top: 0;
    }

  }
  .app-price {
    &__title {
      font-size: 42px;
      padding: 88px 0 39px 0;
    }
  }
  .wrapper-card {
    padding-bottom: 120px;
  }
  .content-top__title {
    padding: 90px 0 33px 0;
  }
  .card-price{
    width: 205px;
    margin: 20px 10px;
    &:last-child{
      margin-top: 0;
    }
  }
  .card-price_active{
    margin:20px 20px 20px 0;
  }}
@media(min-width: 700px){
  .card-price_active{
    margin: 0 20px;
  }
  .card-price:nth-child(2){
    margin-right: 10px;
  }
}

@media(min-width: 750px) {
  .card-price{
    width: 225px;
  }

}
@media(min-width: 993px) {

  .description-app {
    padding: 98px 0 76px 60px;
    position: relative;

    &_wrapper {
      background: #F4F4F4;
      background-size: 100%;
    }

    &__title {
     display: none;
    }
&__title_hidden{
padding-left: 20px;
  display: inline-block;
}
    &__text {
      width: 44%;
    }

    &__img {right: 0;
      position: absolute;
      width: 52%;
      top: 65px;

    }

    &__img-style {
      position: relative;
      max-width: 100%;
    }
  }
  .item-description {
    padding-bottom: 60px;

    &__icon {
      float: left;
      width: 120px;
      margin-right: 25px;
    }
  }
  .text-wrapper {
    text-align: left;

    &__title {
      padding-top: 0;

    }
  }
  .app-price {
    &__title {
      font-size: 48px;
      padding: 112px 0 112px 0;
    }
  }

  .wrapper-card {
    padding-bottom: 120px;
  }
  .card-price{
    width: 225px;
    &:last-child{
      margin-top: 20px;
    }
  }
  .content-list {
    & li {
      padding-bottom: 70px;
    }
  }
  .content-top__title {
    font-size: 53px;
    padding: 66px 0 35px 0;
  }

}
@media(min-width: 1200px){
  .card-price{
    width: 257px;
  }
}

