.header {
  height: 800px;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-top: 70px;
    color: #FFFFFF;
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin: 20px;
    color: #8D81AC;
  }

  .span {
    padding-bottom: 20px;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #848E97;
  }
}

.navbar {
  padding: 30px 16px;
  background: #27262A;

  .navbar-container {
    display: flex;
    justify-content: space-around;

    .navbar__menu__button-pc {
      display: flex;
      align-items: center;

      .navbar__menu-pc {
        display: none;
        justify-content: center;

        ul {
          display: flex;
          list-style-type: none;
        }

        li {
          margin: 0px 25px;
        }

        li:hover a {
          color: #FFFFFF;
        }

        a {
          font-weight: 700;
          transition: 0.5s;
          text-decoration: none;
          color: #8D81AC;
        }
      }
    }

    .navbar__logo {
      display: flex;
      align-items: center;
        cursor: pointer;
      .navbar__logo-icon {
        transition: 0.5s;

        background-image: url("../img/logo.png");
        width: 43px;
        height: 41px;
      }

      h1 {
        transition: 1s;
        display: none;
        padding-left: 17px;
        margin: 0 auto;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #8D81AC;
      }
    }

    .navbar__logo:hover .navbar__logo-icon {
      background-image: url("../img/logo-hover.png");
    }

    .navbar__logo:hover h1 {
      color: #FFFFFF;
    }
  }

  .navbar__menu-tablet {
    display: none;
    justify-content: center;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      margin: 5px 25px;
    }

    li:hover a {
      color: #FFFFFF;
    }

    a {
      font-weight: 700;
      transition: 0.5s;
      padding: 10px 0 ;
      text-decoration: none;
      color: #8D81AC;
    }
  }
}


.navbar__button {
  padding: 11px 35px;
  background-color: #8D81AC;
  border-radius: 40px;
  transition: 0.5s;

  a {
    transition: 0.5s;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.navbar__button:hover {
  background-color: #FFFFFF;

  a {
    color: #8D81AC;
  }
}

.navbar__menu {
  cursor: pointer;
}

.navbar__menu-iconSmall {
  margin: 6px 0;
  width: 15px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.navbar__menu-icon {
  margin: 6px 0;
  width: 25px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.menu-burger {
  opacity: 0;
  height: 309px;
  overflow: auto;
  width: max-content;
  margin: 0 auto;
  background-color: #333333;
  transition: 1s;

  li {

  }

  a {
    display: block;
    padding: 25px;
    list-style-type: none;
    font-size: 26px;
    border-bottom: 1px solid #666666;
    transition: 0.3s;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
  }

  li {

    a:focus{
      border-left: 10px solid #8D81AC;
      color: #8D81AC;
    }
  }

}

.active-el1 {
  transform: translateX(100px);
  transition: 1s;
}

.active-el2 {
  transform: rotate(-55deg) translatex(-3px);
  margin: 0;
  width: 30px;
  height: 2px;
  transition: 1s;
}

.active-el3 {
  transform: rotate(55deg) translatey(0);
  margin: 0;
  width: 30px;
  height: 2px;
  transition: 1s;
}

.menu-burger.active {
  opacity: 1;
  transition: 1s;


}

.menu-burger::-webkit-scrollbar {
  width: 0 !important
}

.header__button {
  display: block;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
  text-align: center;
  width: 200px;
  padding: 15px 30px;
  background-color: #8D81AC;
  border-radius: 40px;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;

}